@import url(https://fonts.googleapis.com/css?family=Righteous);

.navbar.navbar-default {
  /*background-color: #337AB7;*/
  border-radius: 0;
  box-shadow: 0px 1px 3px #2a2a2a;
  background-image: url('dark_wood.png');
}

.navbar-default .navbar-brand {
  color: white;
  font-size: 32px;
  font-family: 'Righteous', cursive;
  padding-right: 25px;
}

.navbar-default .navbar-nav > li > a {
  color: white;
  font-weight: 200px;
  font-family: "Helvetica Neue", Helvetica;
}

.navbar-default .navbar-nav > li > a.courses_link {
  color: white;
  padding-top: 15px;
}

.hero {
  background: url('study.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background-color: rgba(0,0,0,0.6);
  color: white;
}

.frosty h1 {
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.frosty h2 {
  font-family: 'Helvetica Neue', Helvetica;
  font-weight: 200;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.btn {
  border-radius: 0;
}

body {
  background: url('cream_pixels.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}